{{ "<!-- ENTERING partial bodyend.html -->" | safeHTML }}
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4.2.5/dist/es6-promise.auto.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/whatwg-fetch@3.0.0/dist/fetch.umd.min.js"></script>
<script src="https://transloadit.edgly.net/releases/uppy/v0.28.0/dist/uppy.min.js"></script>

<script>
  new ClipboardJS('.btn');
  const uppy = Uppy.Core({
    debug: true,
    autoProceed: false,
    allowMultipleUploads: true,
    restrictions: {
      maxFileSize: null,
      maxNumberOfFiles: null,
      minNumberOfFiles: null,
      allowedFileTypes: null
    },
    meta: {
       username: 'eSolia'
    }
  })
    .use(Uppy.Transloadit, {
      params: {
        auth: {
          // To avoid tampering use signatures:
          // https://transloadit.com/docs/api/#authentication
          key: 'f30c4420eaf311e8adf45d9a4689d142'
        },
        template_id: '37b88290eb9a11e89d12158c8557aff5',
        fields: {
          year: (new Date()).getFullYear()
        }
      },
      waitForEncoding: true
    })
    .use(Uppy.Dashboard, {
      inline: true,
      target: '.DashboardContainer',
      replaceTargetContent: true,
      showProgressDetails: true,
      showLinkToFileUploadResult: false,
      height: 300,
      width: 900,
      note: 'Uploaded images renamed with "eSolia" prefix.',
      metaFields: [
        { id: 'name', name: 'Name', placeholder: 'Enter the file name.' },
        { id: 'caption', name: 'Caption', placeholder: 'Describe what the image is about.' }
      ],
      proudlyDisplayPoweredByUppy: true,
      disableThumbnailGenerator: false,
      browserBackButtonClose: true
    })
    .use(Uppy.Webcam, { target: Uppy.Dashboard })
    .use(Uppy.Instagram, {
      target: Uppy.Dashboard,
      serverUrl: 'https://api2.transloadit.com/companion',
      serverPattern: '.transloadit.com$'
    })
    .use(Uppy.Url, {
      target: Uppy.Dashboard,
      serverUrl: 'https://api2.transloadit.com/companion',
      serverPattern: '.transloadit.com$'
    })
    .on('transloadit:result', (stepName, result) => {
      // use transloadit encoding result here. stepName
      console.log('Result here ====>', stepName, result)
      // skip everything _except_ :original and compress_image
      if (stepName !== ':original' && stepName !== 'compress_image') {
        return
      }
      const file = uppy.getFile(result.localId)
      var resultContainer = document.createElement('div')
      resultContainer.innerHTML = `
          <h4>Width: ${result.meta.width}px ${file.name}</h4>
          <img src="${result.ssl_url}" width="75px" /> <br />
          <a href="${result.ssl_url}">Link</a><button class="btn" data-clipboard-text="${result.ssl_url}">Copy</button>
      `
      document
        .getElementById('uppy-transloadit-result')
        .appendChild(resultContainer)
    })
</script>

{{ "<!-- LEAVING partial bodyend.html -->" | safeHTML }}
{{ if .Site.BuildDrafts }}
{{ "<!-- N.B. the livereload.js script is being injected by hugo server -->" | safeHTML }}
{{ end }}
